$red: #c00c00;
$tomato: tomato;
$light:#ccc;
$dark:rgba(57,58,60,100);
$darktext: #282e34;
$white:#fff;
$grey: rgba(242,242,242,100);
$green: rgba(0, 128, 0, 0);
$bg-dark: #202124;
$iconGreen: #5cc33a;